<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-white">&copy; CampHaven 2024 By: <a href="https://www.linkedin.com/in/philipp-mayorov" target="_blank" rel="noopener noreferrer">Philipp Mayorov</a>
    </span>
  </div>
</footer>
